.FormSection {
    margin-bottom: 80px;
    padding-top: 80px;
    padding-bottom: 73px;
    background-color: #e5eaf1;
    background-image: url("../../img/quote_bg_texture.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}