.PicText__title {
    display: none;
    margin: 0;
    margin-bottom: 30px;
    width: 78%;
    color: #003488;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 44px;
    letter-spacing: -1.08px;
    text-align: left;
}

.PicText__text {
    display: none;
    margin: 0;
    color: #193656;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.PicText__img {
    display: none;
    margin-top: 20px;
}

@media (min-width: 767px) {
    .PicText__title,
    .PicText__text,
    .PicText__img {
        display: block;
    }

    .PicText__img {
        width: 100%;
    }
}