.ContactData {
    flex-basis: 255px;
}

.ContactData h3 {
    margin: 0;
    margin-bottom: 10px;
    color: #003478;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}

.ContactData span {
    color: #666666;
    font-weight: 400;
    font-size: 15px;
}

.ContactData ul {
    margin: 0;
    margin-top: 20px;
    max-width: 155px;
    padding: 0;
    list-style: none;
}

.ContactData ul li {
    color: #193673;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}

@media (min-width: 767px) {
    .ContactData ul li {
        padding-left: 10px;
    }
}

.ContactData ul li:not(:last-child) {
    margin-bottom: 20px;
}

.ContactData ul li:nth-child(2) {
    font-weight: 700;
}