.Contacts__section {
    margin-bottom: 75px;
    padding-top: 60px;
    padding-bottom: 70px;
    background-color: #f0f4f9;
    background-image: url("../../img/cta_bg.png");
    background-position: center center;
}

.Contacts__title {
    margin: 0 auto 30px;
    max-width: 600px;
    color: #003478;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 43px;
}

.ContactForm {
    margin: 0 auto;
    width: 830px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.ContactForm__card {
    padding: 40px;
    width: 325px;
    min-height: 94px;
    box-shadow: 0 25px 40px 0 rgba(0,52,120,.2);
    border-radius: 5px;
    background-color: #003a87;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.ContactForm__icon {
    position: absolute;
    top: 40px;
    left: 40px;
    color: #ffffff;
    font-size: 28px;
}

.ContactForm__text {
    margin-left: 46px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
}

.ContactForm__card a {
    margin-left: 46px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.ContactForm__round {
    padding-top: 11px;
    width: 60px;
    height: 56px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 1;
    color: #003478;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
    box-shadow: 0 0 1px 1px #003478 inset;
    border: 3px solid #ffffff;
}

.ContactForm__sign {
    margin-left: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.ContactForm__card input {
    margin-left: 20px;
    padding-left: 22px;
    box-sizing: border-box;
    width: 305px;
    height: 50px;
    background-color: #114487;
    color: #7f99bb;
    border-radius: 5px;
    border: none;
}

