.review {
    margin-top: 60px;
    margin-bottom: 80px;
}

.review .rec-carousel-wrapper {
    position: relative;
}

.review .rec-arrow {
    display: none;
}

.review .rec-pagination {
    bottom: 65px;
    display: flex;
    align-items: center;
}

@media (min-width: 1100px) {
    .review .rec-pagination {
        position: absolute;
    }
}

.review .rec-dot {
    margin: 0 15px;
    width: 55px;
    height: 55px;
    box-shadow: none;
    opacity: 0.5;
}

@media (min-width: 767px) {
    .review .rec-dot {
        margin: 0 25px;
        width: 75px;
        height: 75px;
    }
}

.review .rec-dot:hover,
.review .rec-dot:focus {
    box-shadow: none;
}

.review .rec-dot_active {
    width: 75px;
    height: 75px;
    box-shadow: none;
    opacity: 0.7;
}

@media (min-width: 767px) {
    .review .rec-dot_active {
        width: 98px;
        height: 98px;
    }
}

.review .rec-dot:first-child {
    background-image: url("../../img/testimonial1.jpg");
    background-size: cover;
}

.review .rec-dot:nth-child(2) {
    background-image: url("../../img/testimonial2.jpg");
    background-size: cover;
}

.review .rec-dot:nth-child(3) {
    background-image: url("../../img/testimonial3.jpg");
    background-size: cover;
}