/*.QuestionSliderBlock {
    background-image: url("../../img/bg.png");
}

.QuestionSliderBlock__img {
    position: absolute;
    top: -80px;
    border-radius: 5px;
    width: 495px;
    height: 393px;
}*/

