.Footer {
    background-color: #003478;
    padding-top: 35px;
    padding-bottom: 15px;
}

.Footer__copyright {
    margin-bottom: 20px;
    max-width: 225px;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

@media (min-width: 767px) {
    .Footer__copyright {
        margin-bottom: 0;
        text-align: left;
    }
}