.InfoSection {
    padding-bottom: 80px;
    background-image: url("../../img/footer_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: left;
}